{% extends 'base.html' %}
{%load static %}
{% block content %}

  <main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Services</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Services</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

   <!-- ======= Services Section ======= -->
   <section id="services" class="services">
    <div class="container">

      <div class="row">
        <div class="col-md-6">
          <div class="icon-box">
            <i class="bi bi-briefcase"></i>
            <h4><a href="#">Cost Control</a></h4>
            <p>We helps you to have more control over your daily expenses and to be able to manage your financial situation more optimally.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-card-checklist"></i>
            <h4><a href="#">schedules</a></h4>
            <p>With Smart Life you can set pre-set schedules during the day along with reporting data from all smart devices.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-bar-chart"></i>
            <h4><a href="#">Information Safety</a></h4>
            <p>We use statistical data that does not specifically identify you (non-personal data) to help in our operations and improve our products and services and provide a better user experience for you.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-binoculars"></i>
            <h4><a href="#">Vision</a></h4>
            <p>Smart Life gives you a huge range of evolving amenities and how to make your living space smarter so that you can achieve your goals with the least amount of energy and cost.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-brightness-high"></i>
            <h4><a href="#">Save Time</a></h4>
            <p>Smart Life offers convenience, help you save time and brings you comfort. With the app or with your voice you can control endless applications and possibilities.</p>
          </div>
        </div>
        <div class="col-md-6 mt-4 mt-md-0">
          <div class="icon-box">
            <i class="bi bi-calendar4-week"></i>
            <h4><a href="#">Planning</a></h4>
            <p>Smart Life helps you to plan for your free time, regardless of daily pressures, and to have the highest productivity with more coordination and comfort.</p>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End Services Section -->



  </main><!-- End #main -->

  {% endblock %}
  <!-- ======= Footer ======= -->