{% load static %}
<!-- Start blog author bio -->
<div class="blog-author d-flex align-items-center">
    <h5>{{post.author.get_full_name}}
        <div class="social-links">
            <a href="https://twitter.com/frankoamin" class="twitter"><i class="bx bxl-twitter"></i></a>
            <a href="https://www.facebook.com/amin.franko" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/aminfranko/" class="instagram"><i class="bx bxl-instagram"></i></a>
        </div>
        <img src="{% static 'img/blog/blog-author.jpg' %}" class="rounded-circle float-left" alt="">
    </h5>

    <div>
        <p>
            Growing up in Karaj, he has a master's degree in applied mathematics from Tarbiat Modares University in Tehran, and is active in the field of telecommunications and mobile phones, and has a master's degree in product field at RighTel Communication Services Company.
        </p>
    </div>
</div><!-- End blog author bio -->